[submodule "in_betweens/lib/update"]
	path = in_betweens/lib/update
	url = https://github.com/jamesvsnowden/bl_addon_update_strategy.git
[submodule "in_betweens/lib/asks"]
	path = in_betweens/lib/asks
	url = https://github.com/jamesvsnowden/bl_asks.git
